body{
  background-image: url("resourse/BG2.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.image-1{
  position: absolute;
  top:10vw;
  left:0;
  width:auto;
  z-index: 4;

  transition: transform 1s linear;

  animation: move01 8s infinite linear;
  animation-direction:alternate-reverse;
}

  @keyframes move01 {
      0% {
          margin-left:0% ;
      }

      100% {
          margin-left: 100%;
      }

  }

  .image-1:hover {
      transform: rotate(360deg);

  }


.image-2{
  position: absolute;
  top:1vw;
  left:0;
  z-index: 2;

  transition: transform 1s linear;

  animation: move02 6s infinite linear;
  animation-direction:alternate-reverse;
}

@keyframes move02 {
      0% {
          margin-left:0% ;
      }

      100% {
          margin-left: 100%;
      }

    }

    .image-2:hover {
        transform: rotate(360deg);
      }

.image-3{
  position: absolute;
  top:21vw;
  left:0;
  z-index: 1;

    transition: transform 1s linear;

    animation: move03 12s infinite linear;
    animation-direction:alternate-reverse;
  }

@keyframes move03 {
      0% {
          margin-left:0% ;
      }

      100% {
          margin-left: 100%;
      }

      }

      .image-3:hover {
          transform: rotate(360deg);
        }


/*==================================================================*/


.image-4{
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: 0;
}
.image-4 > img {
    width: 100vw;
    height: 100vh;
}

.image-5{
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.65;
  z-index: 3;
}
.image-5 > img {
  width: 100vw;
  height: 100vh;
}

.image-9{
  position: fixed;
  left: 0;
  top: 0;

  z-index: 3;
}
.image-9 > img {
  width: 100vw;
  height: 100vh;
}

section{
  font-family: 'Libre Barcode 39 Extended', cursive;
  font-size: 120%;
  margin-left: 38vw;
  margin-top: 47vh;
  color:white;
}



/*==================================================================*/

.image-6{
  position: absolute;
  top:10vw;
  right:0;
  width:auto;
  z-index: 4;

  transition: transform 1s linear;

  animation: move04 8s infinite linear;
  animation-direction:alternate-reverse;
}

  @keyframes move04 {
      0% {
          margin-right: 0% ;
      }

      100% {
          margin-right: 100%;
      }

  }

  .image-6:hover {
      transform: rotate(-360deg);
    }


.image-7{
  position: absolute;
  top:1vw;
  right:0;
  z-index: 2;

  transition: transform 1s linear;

  animation: move05 6s infinite linear;
  animation-direction:alternate-reverse;
}

@keyframes move05 {
      0% {
          margin-right:0% ;
      }

      100% {
          margin-right: 100%;
      }

    }

    .image-7:hover {
        transform: rotate(-360deg);
      }

.image-8{
  position: absolute;
  top:21vw;
  right:0;
  z-index: 1;

    transition: transform 1s linear;

    animation: move06 12s infinite linear;
    animation-direction:alternate-reverse;
  }

@keyframes move06 {
      0% {
          margin-right:0% ;
      }

      100% {
          margin-right: 100%;
      }

      }

      .image-8:hover {
          transform: rotate(-360deg);
        }
